<form method="post" action="{{ path('app_etudes_delete', {'id': etude.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etude.id) }}">
    <button class="btn" style="background-color:gray  ;border-color:#2E4053 ;color: red">Delete</button>
</form>
